*.log
.DS_Store
node_modules

/dist
/docs/**/dist
packages/*/dist
playground/*/dist

packages/runtime/dist-vue2
packages/runtime/dist-vue3
packages/runtime/types-vue2
packages/runtime/types-vue3

playground/example-library/typings

package-lock.json
yarn.lock
!/yarn.lock

.yalc
yalc.lock

TODO.md
# Local Netlify folder
.netlify
