*.log
.DS_Store
node_modules

/dist
/docs/**/dist
packages/*/dist
!packages/runtime/dist
packages/runtime/dist/index.cjs.js
packages/runtime/dist/index.es.js
playground/*/dist

playground/example-library/typings

package-lock.json
yarn.lock
!/yarn.lock

.yalc
yalc.lock

TODO.md
# Local Netlify folder
.netlify
